<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <form (ngSubmit)="validar( f )" #f="ngForm">
                <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" class="form-control" placeholder="Nombre" [(ngModel)]="empre.nombre" name="nombre">
                    <label>Empresa vinculada</label>
                    <select class="form-control" [(ngModel)]="empre.empresaVinculada" name="vinculada">
                        <option value=""></option>
                        <option *ngFor="let empr of Empresas"> {{empr.nombre}} </option>
                    </select>
                </div>
                <div class="form-group text-center">
                    <button *ngIf="id === 'nuevo'" type="submit" class="btn btn-primary w-25">
                            <i class="fa fa-save"></i>
                            Guardar
                        </button>
                    <button *ngIf="id !== 'nuevo'" type="submit" class="btn btn-primary w-25">
                            <i class="fa fa-save"></i>
                            Actualizar
                        </button>
                </div>
            </form>
        </div>
    </div>

</div>