<br>

<h1 class="text-center">Tamizaje Cardiovascular</h1>

<br>
<br>
<div class="container">
    <form (ngSubmit)="guardar( f.value, f.valid )" #f="ngForm">
        <input type="hidden" [(ngModel)]="tamizaje.id" name="id">
        <div class="card" style="width: 70rem; color: darkcyan">
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-md-1">
                        <label class="h5"><b>Fecha</b></label>
                    </div>
                    <div class="col-md-3">
                        <input class="form-control" type="date" [(ngModel)]="tamizaje.fecha" name="fecha"
                            min="{{start != undefined ? start : '1998-01-01' | date: 'yyyy-MM-dd'}}"
                            max="{{this.fechaToday  | date:'yyyy-MM-dd'}}" required
                            #fecha="ngModel">

                        <small [hidden]="fecha.valid || (fecha.pristine && !f.submitted)">
                            Este campo es requerido
                        </small>
                    </div>
                </div>

                <div class="form-group row">

                    <div class="col-md-2">
                        <label class="h5"><b>Establecimiento</b></label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" [(ngModel)]="tamizaje.establecimiento"
                            [ngbTypeahead]="searchEst" (focus)="focus$.next($event.target.value)"
                            (click)="click$.next($event.target.value)" #instance="ngbTypeahead" name="establecimiento"
                            required #establecimiento="ngModel" />

                        <small [hidden]="establecimiento.valid || (establecimiento.pristine && !f.submitted)">
                            Este campo es requerido
                        </small>
                    </div>

                    <div class="col-md-2">
                        <label class="h5"><b>Ciudad</b></label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" [(ngModel)]="tamizaje.ciudad" [ngbTypeahead]="search"
                            (focus)="focus$.next($event.target.value)" (click)="click$.next($event.target.value)"
                            #instance="ngbTypeahead" name="ciudad" required #ciudad="ngModel" />

                        <small [hidden]="ciudad.valid || (ciudad.pristine && !f.submitted)">
                            Este campo es requerido
                        </small>
                    </div>
                </div>


                <div class="form-group row">

                    <div class="col-md-2">
                        <label class="h5"><b>Nombre</b></label>
                    </div>
                    <div class="col-md-4">
                        <input class="form-control" type="text" [(ngModel)]="tamizaje.nombre" name="nombre_paciente"
                            required #nombre_paciente="ngModel">

                        <small [hidden]="nombre_paciente.valid || (nombre_paciente.pristine && !f.submitted)">
                            Este campo es requerido
                        </small>
                    </div>

                    <div class="col-md-2">
                        <label class="h5"><b>Cedula</b></label>
                    </div>
                    <div class="col-md-4">
                        <input class="form-control" type="text" [(ngModel)]="tamizaje.cedula" name="cedula" required
                            #cedula="ngModel">
                        <small [hidden]="cedula.valid || (cedula.pristine && !f.submitted)">
                            Este campo es requerido
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <table class="table table-hover table-bordered">
            <thead>
                <tr class="table-active">
                    <th scope="col">Nombre del Exámen</th>
                    <th scope="col">Valor de referencia</th>
                    <th scope="col">Resultado</th>
                    <th scope="col">Normal / Anormal</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Glicemia Pre</td>
                    <td>Menor 100 mg</td>
                    <td><input class="form-control" [(ngModel)]="tamizaje.resultado_glicemia" type="number"
                            name="resultado_glicemia" required #resultado_glicemia="ngModel">

                        <small [hidden]="resultado_glicemia.valid || (resultado_glicemia.pristine && !f.submitted)">
                            Este campo es requerido
                        </small>
                    </td>
                    <td>
                        <div class="form-group">
                            <select class="form-control" [(ngModel)]="tamizaje.res_glicemia" name="res_glicemia"
                                required #normal_glicemia="ngModel">
                                <option *ngFor="let method of glicemia" [value]="method.id" required>{{method.label}}
                                </option>
                            </select>
                        </div>
                    </td>

                </tr>
                <tr>
                    <td>Colesterol Total</td>
                    <td>Menor 200 mg</td>
                    <td><input class="form-control" [(ngModel)]="tamizaje.resultado_colesterol" type="number"
                            name="resultado_colesterol" required #resultado_colesterol="ngModel">

                        <small [hidden]="resultado_colesterol.valid || (resultado_colesterol.pristine && !f.submitted)">
                            Este campo es requerido
                        </small>
                    </td>
                    <td>
                        <div class="form-group">
                            <select class="form-control" [(ngModel)]="tamizaje.res_colesterol" name="colesterol"
                                required>
                                <option *ngFor="let method of colesterol" [value]="method.id" required>{{method.label}}
                                </option>
                            </select>
                        </div>
                    </td>

                </tr>
                <tr>
                    <td>Trigliceridos</td>
                    <td>Menor 150 mgs</td>
                    <td><input class="form-control" [(ngModel)]="tamizaje.resultado_trigliceridos" type="number"
                            name="resultado_trigliceridos" required #resultado_trigliceridos="ngModel">
                        <small
                            [hidden]="resultado_trigliceridos.valid || (resultado_trigliceridos.pristine && !f.submitted)">
                            Este campo es requerido
                        </small>
                    </td>
                    <td>
                        <div class="form-group">
                            <select class="form-control" [(ngModel)]="tamizaje.res_trigliceridos" name="trigliceridos"
                                required>
                                <option *ngFor="let method of colesterol" [value]="method.id" required>{{method.label}}
                                </option>
                            </select>
                        </div>
                    </td>

                </tr>
            </tbody>
        </table>

        <br>
        <br>
        <div class="card" style="width: 70rem; color: darkcyan">
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-md-3">
                        <label class="h6"><b>Peso(kg)</b></label>
                    </div>
                    <div class="col-md-3">
                        <input class="form-control" [(ngModel)]="tamizaje.peso" type="number" name="peso" required
                            #peso="ngModel">
                        <small [hidden]="peso.valid || (peso.pristine && !f.submitted)">
                            Este campo es requerido
                        </small>
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-md-3">
                        <label class="h6"><b>Talla(m)</b></label>
                    </div>
                    <div class="col-md-3">
                        <input class="form-control" [(ngModel)]="tamizaje.talla" type="number" name="talla" required
                            #talla="ngModel">
                        <small [hidden]="talla.valid || (talla.pristine && !f.submitted)">
                            Este campo es requerido
                        </small>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-3">
                        <label class="h6"><b>Indice de Masa Corporal</b></label>
                    </div>
                    <div class="col-md-3">
                        <input class="form-control" [(ngModel)]="tamizaje.indice_masa" value="{{this.resultado}}"
                            type="number" name="masa" (change)="calcularIMC()" readonly>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-3">
                        <label class="h6"><b>Tensión Arterial</b></label>
                    </div>
                    <div class="col-md-3">
                        <input class="form-control" [(ngModel)]="tamizaje.tension_arterial" type="number" name="tension"
                            required #tension="ngModel">
                        <small [hidden]="tension.valid || (tension.pristine && !f.submitted)">
                            Este campo es requerido
                        </small>
                    </div>
                </div>

                <div class="form-group row offset-md-6">
                    <div class="col-md-3">
                        <label class="h6"><b>Resultado T.A </b></label>
                    </div>
                    <div class="col-md-4">

                        <div class="form-group">
                            <select class="form-control" [(ngModel)]="tamizaje.resultado_ta" name="resultado_ta"
                                required>
                                <option *ngFor="let method of ta" [value]="method.id" required>{{method.label}}</option>
                            </select>
                        </div>
                    </div>

                </div>
                
                <div class="form-group row offset-md-6">
                    <div class="col-md-3">
                        <label class="h6"><b>Resultado EKG</b></label>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <select class="form-control" [(ngModel)]="tamizaje.resultado_ekg" name="resultado_ekg"
                                required>
                                <option *ngFor="let method of ekg" [value]="method.id" required>{{method.label}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="form-group row offset-md-4">
            <div class="col-md-6">
                <input type="text" class="form-control" [(ngModel)]="tamizaje.nombre_profesional"
                    [ngbTypeahead]="searchProfesional" (focus)="focus$.next($event.target.value)"
                    (click)="click$.next($event.target.value)" #instance="ngbTypeahead" name="nombre_profesional"
                    required #nombre_profesional="ngModel" />

                <small [hidden]="nombre_profesional.valid || (nombre_profesional.pristine && !f.submitted)">
                    Este campo es requerido
                </small>
            </div>
        </div>

        <div class="form-group row offset-md-4 text-center">
            <div class="col-md-6">
                <label class="h6"><b>Nombre del Profesional</b></label>
            </div>
        </div>
        <br>
        <br>
        <div class="form-group row offset-md-2 text-center center-block">
            <div class="col-md-10">
                <button type="submit" class="btn btn-info btn-lg" [disabled]="f.invalid">
                    <i class="fas fa-check"></i> Crear
                </button>
            </div>
        </div>
        <br>
        <br>
    </form>
</div>
<!--SI TODOS LOS ESPACIOS NO ESTAN LLENOS MOSTRAR UN SWAL
    HACER EL AUTOCOMLETE 
    MEJORAR METODO PARA CALCULAR EN IMC
    PREGUNTAR: CERAR METODO PARA CALCULAR LA TENSIÓN-->