

<h1 class="animated fadeIn fast text-center">Listado de Reportes</h1>

<hr>

<div class="container">
    <div class="row">
        <div class="col text-right">
            <button routerLink="/crear-reporte/nuevo" class="btn btn-primary">
                <i class="fa fa-plus"></i>
                add
            </button>
        </div>
    </div>
   
    <table class="table table-borderless animated fadeIn fast">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre Reporte</th>
                <th>Tools</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let reporte of reportes ; let i  = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{reporte.nombre}}</td>
                <td>
                    <button class="btn btn-info mr-1" [routerLink]="['/crear-reporte', reporte.id ]">
                        <i class="fa fa-pen"></i>
                    </button>
                    <button class="btn btn-danger mr-1">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table> 
</div>


<div class="container">
 <div class="row">
<div class="form-group col-md-6">
    <label for="exampleFormControlSelect1">Example select</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>


  <div class="form-group col-md-6">
    <label for="exampleFormControlSelect1">Example select</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>

 </div>
</div>


<div>
        <div>
          <div class="chart">
            <canvas baseChart
              [data]="pieChartData"
              [labels]="pieChartLabels"
              [chartType]="pieChartType"
              [options]="pieChartOptions"
              [plugins]="pieChartPlugins"
              [colors]="pieChartColors"
              [legend]="pieChartLegend">
            </canvas>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-2">
           <button  type="button" class="btn btn-primary" (click)="pieChartLegend=!pieChartLegend">Toggle Legend</button>
         </div>
         <div class="col-md-2">
           <button  type="button" class="btn btn-secondary" (click)="changeLabels()">Change Labels</button>
        </div>
        <div class="col-md-2">
          <button  type="button" class="btn btn-info" (click)="addSlice()">Add Slice</button>
        </div>
        <div class="col-md-2">
         <button  type="button" class="btn btn-warning" (click)="removeSlice()">Remove Slice</button>
        </div>
        <div class="col-md-2">
          <button  type="button" class="btn btn-primary" (click)="changeLegendPosition()">Change Legend Position</button>
        </div>
        </div>
      </div>
