<div class="container mr-2 mt-3 mb-5 ml-2">
    <h1>Welcome!!
        <hr>
        <p *ngIf="auth.user$ | async as user">{{ user.nombre}} </p>
    </h1>

    <div class="row">
        <div class="col-sm-6 mt-2" *ngFor="let user of users">
            <div class="card border-secondary mb-6">
                <div class="card-header">{{ user.nombre }}</div>
                <div class="card-body text-secondary">
                    <h5 class="card-title">{{ user.cedula }}</h5>
                    <p class="card-text"> {{ user.fechaed }}</p>
                </div>
            </div>
        </div>
    </div>
</div>