<h1>Rol <small>nombre del Rol</small></h1>
<hr>

<div class="container">
    <div class="row text-right">
        <div class="col">
            <button class="btn btn-danger" routerLink="/roles">
                <i class="fa fa-arrow-left"></i>
                Regresar
            </button>
        </div>

    </div>

</div>

<div class="container">
    <div class="row animated fadeIn fast">
        <div class="col">
            <form (ngSubmit)="validacion( f )" #f="ngForm">
                <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" class="form-control" [(ngModel)]="rol.nombre" name="nombre" placeholder="Nombre rol" required>

                </div>
                <div class="form-group">
                    <label> Estado </label>
                    <br>
                    <button *ngIf="rol.estado" (click)="rol.estado = false" class="btn btn-outline-success w-25">
                            Activo
                       </button>
                    <button *ngIf="!rol.estado" (click)="rol.estado = true" class="btn btn-outline-danger w-25">
                            Inactivo
                        </button>
                </div>
                <div class="form-group">
                    <div class="custom-control custom-checkbox" *ngFor="let permiso of permisos ; let i = index">
                        <div *ngIf="permiso.permiso">
                            <input type="checkbox" class="custom-control-input" id=´customCheck{{i}}´ (change)="selectPermision(i)">
                            <label class="custom-control-label" for=´customCheck{{i}}´>{{ permiso.nombre }}</label>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="form-group text-center">
                    <button *ngIf="id === 'nuevo'" type="submit" class="btn btn-primary w-25">
                        <i class="fa fa-save"></i>
                        Guardar
                    </button>
                    <button *ngIf="id !== 'nuevo'" type="submit" class="btn btn-primary w-25">
                        <i class="fa fa-save"></i>
                        Actualizar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>