<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" [routerLink]="['Home']"><i class=" fas fa-book-open "></i></a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ">
            <li class="nav-item " routerLinkActive="active ">
                <a class="nav-link " [routerLink]="[ 'User'] ">User</a>
            </li>
            <li class="nav-item " routerLinkActive="active ">
                <a class="nav-link " [routerLink]="[ 'roles'] ">Roles</a>
            </li>
            <li class="nav-item " routerLinkActive="active ">
                <a class="nav-link " [routerLink]="[ 'permisos'] ">Permisos</a>
            </li>
            <li class="nav-item dropdown" routerLinkActive="active ">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Examenes
                  </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="['condiciones-salud']">Condiciones-salud</a>
                    <a class="dropdown-item" [routerLink]="['espirometria']">Espirometria</a>
                    <a class="dropdown-item" [routerLink]="['tamizaje-cardiovascular']">Tamizaje Cardiovascular</a>
                    <a class="dropdown-item" [routerLink]="['audiometria-ocupacional']">Audiometria Ocupacional</a>
                </div>
            </li>
            <li class="nav-item" routerLinkActive="active">
                
            </li>
            <li class="nav-item" routerLinkActive="active">
                
            </li>
        </ul>
        <button class="btn btn-outline-danger " (click)="auth.singOut() ">Sing out
            <i class="fas fa-sign-out-alt "></i>
        </button>
    </div>
</nav>