<h1>Permisos <small>nombre del permiso</small></h1>
<hr>

<div class="container">
    <div class="row text-right">
        <div class="col">
            <button class="btn btn-danger" routerLink="/permisos">
                <i class="fa fa-arrow-left"></i>
                Regresar
            </button>
        </div>

    </div>

</div>

<div class="container">
    <div class="row animated fadeIn fast">
        <div class="col">
            <form (ngSubmit)="validacion( f )" #f="ngForm">
            
                <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" class="form-control" [(ngModel)]="permiso.nombre" name="nombre" placeholder="Nombre permiso" required>

                </div>
                <div class="form-group">
                    <label> Estado </label>
                    <br>
                    <button *ngIf="permiso.permiso" (click)="permiso.permiso = false" class="btn btn-outline-success w-25">
                        Activo
                   </button>
                    <button *ngIf="!permiso.permiso" (click)="permiso.permiso = true" class="btn btn-outline-danger w-25">
                        Inactivo
                    </button>
                </div>

                <hr>
                <div class="form-group text-center">
                    <button *ngIf="id === 'nuevo'" type="submit" class="btn btn-primary w-25">
                        <i class="fa fa-save"></i>
                        Guardar
                    </button>
                    <button *ngIf="id !== 'nuevo'" type="submit" class="btn btn-primary w-25">
                        <i class="fa fa-save"></i>
                        Actualizar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>