<h1 class="text-center">Reporte <br> <small class="text-center">Nombre del Reporte</small></h1>
<hr>

<div class="container">
    <div class="row text-right">
        <div class="col">
            <button class="btn btn-danger" routerLink="/analista">
                <i class="fa fa-arrow-left"></i>
                Regresar
            </button>
        </div>

    </div>

</div>

<div class="container">
    <div class="row animated fadeIn fast">
        <div class="col">
            <form (ngSubmit)="guardar( f )" #f="ngForm">
                <div class="form-group">
                    <label>Firebase ID</label>
                    <input type="text" class="form-control" disabled="disabled" placeholder="Firebase ID" [(ngModel)]="reporte.id" name="id">
                    <small class="form-text text-muted">Valor Autogenerado</small>

                </div>

                <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" class="form-control" [(ngModel)]="reporte.nombre" name="nombre" placeholder="Nombre reporte" required>

                </div>
               

                <hr>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary w-25">
                        <i class="fa fa-save"></i>
                        Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
