<br>
<h1 class="text-center">Espirometría</h1>
<br>
<br>

<div class="container">
  <form (ngSubmit)="guardar( f.value, f.valid )" #f="ngForm">
    <div class="card" style="width: 70rem; color: darkcyan">
      <div class="card-header">
        <h6>IDENTIFICACIÓN</h6>
      </div>

      <div class="card-body">
        <div class="form-row">
          <div class="form-group col-md-8">
            <label for="inputNombre">Nombre:</label>
            <input type="text" class="form-control" name="nombre" placeholder="Nombre" [(ngModel)]="espirometria.nombre"
              required #nombre="ngModel">
            <small [hidden]="nombre.valid || (nombre.pristine && !f.submitted)">
              Este campo es requerido
            </small>
          </div>
          <div class="form-group col-md-4">
            <label for="inputCedula">Cédula de Ciudadanía:</label>
            <input type="text" class="form-control" name="numeroDocumento" placeholder="Cédula de Ciudadanía"
              [(ngModel)]="espirometria.numeroDocumento" required #numeroDocumento="ngModel">
            <small [hidden]="numeroDocumento.valid || (numeroDocumento.pristine && !f.submitted)">
              Este campo es requerido
            </small>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputEdad">Edad:</label>
            <input type="text" class="form-control" name="edad" placeholder="Edad" [(ngModel)]="espirometria.edad"
              required #edad="ngModel">
            <small [hidden]="edad.valid || (edad.pristine && !f.submitted)">
              Este campo es requerido
            </small>
          </div>
          <div class="form-group col-md-4">
            <label for="inputTalla">Talla:</label>
            <input type="number" class="form-control" name="talla" placeholder="Talla" [(ngModel)]="espirometria.talla"
              required #talla="ngModel">
            <small [hidden]="talla.valid || (talla.pristine && !f.submitted)">
              Este campo es requerido
            </small>
          </div>
          <div class="form-group col-md-4">
            <label for="inputPeso">Peso:</label>
            <input type="number" class="form-control" name="peso" placeholder="Peso" [(ngModel)]="espirometria.peso"
              required #peso="ngModel">
            <small [hidden]="peso.valid || (peso.pristine && !f.submitted)">
              Este campo es requerido
            </small>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-8">
            <label for="inputCargo">Cargo:</label>
            <input type="text" class="form-control" name="cargo" placeholder="Cargo" [(ngModel)]="espirometria.cargo"
              required #cargo="ngModel">
            <small [hidden]="cargo.valid || (cargo.pristine && !f.submitted)">
              Este campo es requerido
            </small>
          </div>
          <div class="form-group col-md-4">
            <label for="inputAntiguedad">Antigüedad:</label>
            <input type="number" class="form-control" name="antiguedad" placeholder="Antigüedad"
              [(ngModel)]="espirometria.antiguedad" required #antiguedad="ngModel">
            <small [hidden]="antiguedad.valid || (antiguedad.pristine && !f.submitted)">
              Este campo es requerido
            </small>
          </div>
        </div>
      </div>
    </div>
    <br>

    <div class="card" style="width: 70rem; color: darkcyan">
      <div class="card-header">
        <h6>ANTECEDENTES LABORALES RESPIRATORIOS</h6>
      </div>

      <div class="card-body">
        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="inputUltimaEmpresa">Última Empresa:</label>
            <input type="text" class="form-control" name="ultimaEmpresa" placeholder="Última empresa"
              [(ngModel)]="espirometria.ultimaEmpresa" required #ultimaEmpresa="ngModel">
            <small [hidden]="ultimaEmpresa.valid || (ultimaEmpresa.pristine && !f.submitted)">
              Este campo es requerido
            </small>
          </div>
          <div class="form-group col-md-3">
            <label for="inputTipoRiesgo">Tipo de riesgo:</label>
            <input type="text" class="form-control" name="tipoRiesgo" placeholder="Tipo de riesgo"
              [(ngModel)]="espirometria.tipoRiesgo" required #tipoRiesgo="ngModel">
            <small [hidden]="tipoRiesgo.valid || (tipoRiesgo.pristine && !f.submitted)">
              Este campo es requerido
            </small>
          </div>
          <div class="form-group col-md-3">
            <label for="inputAniosExposicion">Años de exposición:</label>
            <input type="number" class="form-control" name="aniosExposicion" placeholder="Años de exposición"
              [(ngModel)]="espirometria.aniosExposicion" required #aniosExposicion="ngModel">
            <small [hidden]="aniosExposicion.valid || (aniosExposicion.pristine && !f.submitted)">
              Este campo es requerido
            </small>
          </div>
          <div class="form-group col-md-3">
            <label for="inputTipoProteccion">Tipo de protección:</label>
            <input type="text" class="form-control" name="tipoProteccion" placeholder="Tipo de protección"
              [(ngModel)]="espirometria.tipoProteccion" required #tipoProteccion="ngModel">
            <small [hidden]="tipoProteccion.valid || (tipoProteccion.pristine && !f.submitted)">
              Este campo es requerido
            </small>
          </div>
        </div>
      </div>
    </div>
    <br>

    <div class="card" style="width: 70rem; color: darkcyan">
      <div class="card-header">
        <h6>HÁBITOS</h6>
      </div>
      <div class="card-body">
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="selDeportes">Deportes:</label>
            <select class="form-control" [(ngModel)]="espirometria.deportes" name="deportes" required>
              <option *ngFor="let method of opciones" [value]="method.id" >{{method.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-8">
            <label for="inputDeportes">¿Cuáles deportes?:</label>
            <input type="text" class="form-control" name="detalleDeportes" placeholder="Deportes..."
              [(ngModel)]="espirometria.detalleDeportes">
          </div>
        </div>
      </div>
    </div>
    <br>

    <div class="card" style="width: 70rem; color: darkcyan">
      <div class="card-header">
        <h6>ANTECEDENTES</h6>
      </div>

      <div class="card-body">
        <div class="form-row">
          <div class="form-group col-md-2">
          </div>
          <div class="form-group col-md-2">
            <label for="inputA1Trabajador">Trabajador:</label>
          </div>
          <div class="form-group col-md-2">
            <label for="inputA1Familiares">Familiares:</label>
          </div>

          <div class="form-group col-md-2">
          </div>
          <div class="form-group col-md-2">
            <label for="inputA1Trabajador">Trabajador:</label>
          </div>
          <div class="form-group col-md-2">
            <label for="inputA1Familiares">Familiares:</label>
          </div>
        </div>

        <div class="form-row">


          <div class="form-group col-md-2">
            Hipertensión arterial:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" name="hipertensionArterial"  [(ngModel)]="espirometria.hipertensionArterial"
              required>
              <option *ngFor="let method of opciones" [value]="method.id" >{{method.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" [(ngModel)]="espirometria.familiarHipertension" name="familiarHipertension"
              required>
              <option *ngFor="let method of opciones" [value]="method.id">{{method.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            Alergias:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" [(ngModel)]="espirometria.alergiasTrabajador" name="alergiasTrabajador"
              required>
              <option *ngFor="let method of opciones" [value]="method.id">{{method.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" [(ngModel)]="espirometria.alergiasFamiliar" name="alergiasFamiliar" required>
              <option *ngFor="let method of opciones" [value]="method.id">{{method.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            Tuberculosis:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" [(ngModel)]="espirometria.tuberculosisTrabajador" name="tuberculosisTrabajador"
              required>
              <option *ngFor="let method of opciones" [value]="method.id">{{method.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" [(ngModel)]="espirometria.tuberculosisFamiliar" name="tuberculosisFamiliar"
              required>
              <option *ngFor="let method of opciones" [value]="method.id">{{method.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            Gripas frecuentes:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" [(ngModel)]="espirometria.gripasFrecuentesTr" name="gripasFrecuentesTr"
              required>
              <option *ngFor="let method of opciones" [value]="method.id">{{method.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" [(ngModel)]="espirometria.gripasFrecuentesFa" name="gripasFrecuentesFa"
              required>
              <option *ngFor="let method of opciones" [value]="method.id">{{method.label}}</option>
            </select>
            
          </div>

        </div>

        <div class="form-row">
          <div class="form-group col-md-2">
            Bronquitis:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" [(ngModel)]="espirometria.bronquitisTrabajador" name="bronquitisTrabajador"
              required>
              <option *ngFor="let method of opciones" [value]="method.id">{{method.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" [(ngModel)]="espirometria.bronquitisFamiliar" name="bronquitisFamiliar"
              required>
              <option *ngFor="let method of opciones" [value]="method.id">{{method.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            Trauma Costal:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" [(ngModel)]="espirometria.traumaCostalTr" name="traumaCostalTr" required>
              <option *ngFor="let method of opciones" [value]="method.id">{{method.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" [(ngModel)]="espirometria.traumaCostalFa" name="traumaCostalFa" required>
              <option *ngFor="let method of opciones" [value]="method.id">{{method.label}}</option>
            </select>
          </div>

        </div>


        <div class="form-row">
          <div class="form-group col-md-2">
            Tos Crónica:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" [(ngModel)]="espirometria.tosCronicaTr" name="tosCronicaTr" required>
              <option *ngFor="let method of opciones" [value]="method.id">{{method.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" [(ngModel)]="espirometria.tosCronicaFa" name="tosCronicaFa" required>
              <option *ngFor="let method of opciones" [value]="method.id">{{method.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            Cáncer:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" [(ngModel)]="espirometria.cancerTr" name="cancerTr" required>
              <option *ngFor="let method of opciones" [value]="method.id">{{method.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" [(ngModel)]="espirometria.cancerFa" name="cancerFa" required>
              <option *ngFor="let method of opciones" [value]="method.id">{{method.label}}</option>
            </select>
          </div>

        </div>

        <div class="form-row">
          <div class="form-group col-md-2">
            Cirugía de tórax:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" [(ngModel)]="espirometria.cirugiaToraxTr" name="cirugiaToraxTr" required>
              <option *ngFor="let method of opciones" [value]="method.id">{{method.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" [(ngModel)]="espirometria.cirugiaToraxFa" name="cirugiaToraxFa" required>
              <option *ngFor="let method of opciones" [value]="method.id">{{method.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            Asma bronquial:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" [(ngModel)]="espirometria.asmaBronquialTr" name="asmaBronquialTr" required>
              <option *ngFor="let method of opciones" [value]="method.id">{{method.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" [(ngModel)]="espirometria.asmaBronquialFa" name="asmaBronquialFa" required>
              <option *ngFor="let method of opciones" [value]="method.id">{{method.label}}</option>
            </select>
          </div>
        </div>


        <div class="form-row">
          <div class="form-group col-md-2">
            <label for="inputOtro">Otro, ¿Cuál?:</label>
          </div>
          <div class="form-group col-md-10">
            <input type="text" class="form-control" name="otrasEnfermedades" placeholder="Ninguno"
              [(ngModel)]="espirometria.otrasEnfermedades">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-2">
            <label for="inputMedicacionPulmonar">Medicación pulmonar:</label>
          </div>
          <div class="form-group col-md-10">
            <input type="text" class="form-control" name="medicacionPulmonar" placeholder="Ninguno"
              [(ngModel)]="espirometria.medicacionPulmonar">
          </div>
        </div>

      </div>
    </div>
    <br>
    <br>

    <div class="card" style="width: 70rem; color: darkcyan">
      <div class="card-header">
        <h6>ANTECEDENTES TÓXICOS</h6>
      </div>
      <div class="card-body">
        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="inputA1Trabajador">¿Fuma actualmente?</label>
          </div>
          <div class="form-group col-md-3">
            <select class="form-control" [(ngModel)]="espirometria.fumaActualmente" name="fumaActualmente" required>
              <option *ngFor="let method of opciones" [value]="method.id">{{method.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <label for="inputA1Trabajador">Número de cigarrillos al día:</label>
          </div>
          <div class="form-group col-md-3">
            <input type="number" class="form-control" [(ngModel)]="espirometria.cantidadCigarrillos"
              name="cantidadCigarrillos" required #cantidadCigarrillos="ngModel">

            <small [hidden]="cantidadCigarrillos.valid || (cantidadCigarrillos.pristine && !f.submitted)">
              Este campo es requerido
            </small>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="inputA1Trabajador">¿Fuma anteriormente?</label>
          </div>
          <div class="form-group col-md-3">
            <select class="form-control" [(ngModel)]="espirometria.fumaAnteriormente" name="fumaAnteriormente" required>
              <option *ngFor="let method of opciones" [value]="method.id">{{method.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <label for="inputA1Trabajador">¿En qué año dejó de fumar?</label>
          </div>
          <div class="form-group col-md-3">
            <input type="number" class="form-control" [(ngModel)]="espirometria.DejoDeFumar" name="DejoDeFumar">
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="card" style="width: 70rem; color: darkcyan">
      <div class="card-header">
        <h6>FACTORES DE RIESGO</h6>
      </div>

      <div class="card-body">
        <div class="form-row">
          <div class="form-group col-md-1">
            <label for="inputA1Trabajador">Polvos:</label>
          </div>
          <div class="form-group col-md-1">
            <select class="form-control" [(ngModel)]="espirometria.polvos" name="polvos" required>
              <option *ngFor="let method of opciones" [value]="method.id">{{method.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-1">
            <label for="inputA1Trabajador">Humos:</label>
          </div>
          <div class="form-group col-md-1">
            <select class="form-control" [(ngModel)]="espirometria.humos" name="humos" required>
              <option *ngFor="let method of opciones" [value]="method.id">{{method.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-1">
            <label for="inputA1Trabajador">Gases:</label>
          </div>
          <div class="form-group col-md-1">
            <select class="form-control" [(ngModel)]="espirometria.gases" name="gases" required>
              <option *ngFor="let method of opciones" [value]="method.id">{{method.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-1">
            <label for="inputA1Trabajador">Vapores:</label>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" [(ngModel)]="espirometria.vapores" name="vapores" required>
              <option *ngFor="let method of opciones" [value]="method.id">{{method.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-1">
            <label for="inputA1Trabajador">Neblinas:</label>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" [(ngModel)]="espirometria.neblinas" name="neblinas" required>
              <option *ngFor="let method of opciones" [value]="method.id">{{method.label}}</option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-2">
            <label for="txtTiempoExposicion">Tiempo de exposición:</label>
          </div>
          <div class="form-group col-md-2">
            <input type="number" class="form-control" name="tiempoDeExposicion"
              [(ngModel)]="espirometria.tiempoDeExposicion" required #tiempoDeExposicion="ngModel">
            <small [hidden]="tiempoDeExposicion.valid || (tiempoDeExposicion.pristine && !f.submitted)">
              Este campo es requerido
            </small>
          </div>
          <div class="form-group col-md-2">
            <label for="txtAniosExposicion">Años:</label>
          </div>
          <div class="form-group col-md-2">
            <input type="text" class="form-control" name="anosExposicion" [(ngModel)]="espirometria.anosExposicion"
              required #anosExposicion="ngModel">
            <small [hidden]="anosExposicion.valid || (anosExposicion.pristine && !f.submitted)">
              Este campo es requerido
            </small>
          </div>
          <div class="form-group col-md-2">
            <label for="txtHorasDia">Horas al día:</label>
          </div>
          <div class="form-group col-md-2">
            <input type="text" class="form-control" name="horaDelDia" [(ngModel)]="espirometria.horaDelDia" required
              #horaDelDia="ngModel">
            <small [hidden]="horaDelDia.valid || (horaDelDia.pristine && !f.submitted)">
              Este campo es requerido
            </small>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="inputA1Trabajador">¿Usa E.P.P.?:</label>
          </div>
          <div class="form-group col-md-1">
            <select class="form-control" [(ngModel)]="espirometria.usaEPP" name="usaEPP" required>
              <option *ngFor="let method of opciones" [value]="method.id">{{method.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="txtHorasDia">¿Cuáles?:</label>
          </div>
          <div class="form-group col-md-6">
            <input type="text" class="form-control" name="detalleEPP" [(ngModel)]="espirometria.detalleEPP">
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="card" style="width: 70rem; color: darkcyan">
      <div class="card-header">
        <h6> OBSERVACIONES Y/O RECOMENDACIONES</h6>
      </div>

      <div class="card-body">
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputA1Trabajador">Dejar de fumar y/o evitar el consumo de cigarrillo:</label>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" [(ngModel)]="espirometria.recomendacionML1" name="recomendacionML1" required>
              <option *ngFor="let method of opciones" [value]="method.id">{{method.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="inputA1Trabajador">Atención nutricional por la EPS para control de peso:</label>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" [(ngModel)]="espirometria.recomendacionML2" name="recomendacionML2" required>
              <option *ngFor="let method of opciones" [value]="method.id">{{method.label}}</option>
            </select>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputA1Trabajador">Realizar práctica deportiva periódica:</label>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" [(ngModel)]="espirometria.recomendacionML3" name="recomendacionML3" required>
              <option *ngFor="let method of opciones" [value]="method.id">{{method.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="inputA1Trabajador">Solicitar cita de seguimiento en la EPS correspondiente:</label>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" [(ngModel)]="espirometria.recomendacionML4" name="recomendacionML4" required>
              <option *ngFor="let method of opciones" [value]="method.id">{{method.label}}</option>
            </select>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputA1Trabajador">Usar de manera constante los elementos de protección personal:</label>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" [(ngModel)]="espirometria.recomendacionML5" name="recomendacionML5" required>
              <option *ngFor="let method of opciones" [value]="method.id">{{method.label}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <br>
    <br>

    <div class="card" style="width: 70rem; color: darkcyan">
      <div class="card-header">
        <h6>INTERPRETACIÓN</h6>
      </div>
      <div class="card-body">
        <div class="form-row">
          <div class="form-group col-md-2">
            <label for="inputA1Trabajador">Evaluación:</label>
          </div>
          <div class="form-group col-md-4">
            <select class="form-control" [(ngModel)]="espirometria.evaluacion" name="evaluacion" required>
              <option *ngFor="let method of evaluacion" [value]="method.id">{{method.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="inputA1Trabajador">Técnica aceptable:</label>
          </div>
          <div class="form-group col-md-4">
            <select class="form-control" [(ngModel)]="espirometria.tecnicaAceptable" name="tecnicaAceptable" required>
              <option *ngFor="let method of opciones" [value]="method.id">{{method.label}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="form-group row offset-md-2 text-center center-block">
      <div class="col-md-10">
        <button type="submit" class="btn btn-info btn-lg" [disabled]="f.invalid">
          <i class="fas fa-check"></i> Crear
        </button>
      </div>
    </div>
    <br>
    <br>
  </form>
</div>