<h1 class="animated fadeIn fast">Listado de permisos</h1>

<hr>

<div class="container">
    <div class="row">
        <div class="col text-right">
            <button routerLink="/permiso/nuevo" class="btn btn-primary">
                <i class="fa fa-plus"></i>
                add
            </button>
        </div>
    </div>

    <table *ngIf="permisos.length !== 0" class="table table-borderless animated fadeIn fast">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">estado</th>
                <th>Tools</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let per of permisos ; let i  = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{per.nombre}}</td>
                <td><span *ngIf="!per.permiso" class="badge badge-pill badge-danger"> desactivado </span>
                    <span *ngIf="per.permiso" class="badge badge-pill badge-success"> activado </span></td>
                <td>
                    <button class="btn btn-info mr-1" routerLink="/permiso/{{ per.id }}">
                       <i class="fa fa-pen"></i> 
                    </button>
                    <button class="btn btn-danger mr-1" (click)="removerPermiso(per)">
                        <i class="fa fa-trash" ></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <div *ngIf="cargando" class="alert alert-info text-center mt-3">
        <h4 class="alert-heading">Cargando</h4>
        <p>
            <i class="fa fa-exclamation fa-2x"></i>
        </p>
    </div>

    <div *ngIf="!Cargando && permisos.length === 0" class="alert alert-warning text-center mt-3">
        <h4 class="alert-heading"> No Hay Registros </h4>
        <p>
            <i class="fa fa-exclamation fa-2x"></i>
        </p>
    </div>
</div>