<div class="container">
    <br>
    <br>
    <div>
        <h1 class="text-center">Audiometria Ocupacional</h1>
    </div>
    <br>
    <br>
    <form (ngSubmit)="guardar( f.value, f.valid )" #f="ngForm">
        <div class="card" style=" color: darkcyan">
            <div class="card-header">
                <h6>Identificación</h6>
            </div>
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-md-1">
                        <label class="col-form-label">Fecha</label>
                    </div>
                    <div class="col-md-3">
                        <input class="form-control" type="date" [(ngModel)]="audiometria.fecha" name="fecha" required
                            #fecha="ngModel" />
                    </div>


                    <div class="col-md-2">
                        <label class="col-form-label">Establecimiento</label>
                    </div>
                    <div class="col-md-2">
                        <input class="form-control" type="text" name="establecimiento"
                            [(ngModel)]="audiometria.establecimiento" required #establecimiento="ngModel" />
                    </div>


                    <div class="col-md-1">
                        <label class="col-form-label">Ciudad</label>
                    </div>
                    <div class="col-md-2">
                        <input class="form-control" type="text" name="ciudad" [(ngModel)]="audiometria.ciudad"
                            required />
                    </div>
                </div>


                <div class="form-group row">

                    <div class="col-md-2">
                        <label class="col-form-label">Nombres y Apellidos</label>
                    </div>
                    <div class="col-md-2">
                        <input class="form-control" type="text" name="nombres" [(ngModel)]="audiometria.nombres"
                            required />
                    </div>
                    <div class="col-md-2">
                        <label class="col-form-label">Cedula</label>
                    </div>
                    <div class="col-md-2">
                        <input class="form-control" type="text" name="cedula" [(ngModel)]="audiometria.cedula"
                            required />
                    </div>

                    <div class="col-md-1">
                        <label class="col-form-label">Edad</label>
                    </div>
                    <div class="col-md-2">
                        <input class="form-control" type="number" name="edad" [(ngModel)]="audiometria.edad" required />
                    </div>
                </div>

                <div class="form-group row">

                    <div class="col-md-2">
                        <label class="col-form-label">Antigüedad</label>
                    </div>
                    <div class="col-md-4">
                        <input class="form-control" type="number" name="antiguedad" [(ngModel)]="audiometria.antiguedad"
                            required />
                    </div>
                    <div class="col-md-2">
                        <label class="col-form-label">Cargo</label>
                    </div>

                    <div class="col-md-4">
                        <input class="form-control" type="text" name="cargo" [(ngModel)]="audiometria.cargo" required />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-2">
                        <label class="col-form-label">Sexo</label>
                    </div>
                    <div class="col-md-4">
                        <input class="form-control" type="text" name="sexo" [(ngModel)]="audiometria.sexo" required />
                    </div>
                    <div class="col-md-2">
                        <label class="col-form-label">Area</label>
                    </div>

                    <div class="col-md-4">
                        <input class="form-control" type="text" name="area" [(ngModel)]="audiometria.area" required />
                    </div>
                </div>

            </div>
        </div>
        <br>
        <br>

        <div class="row">
            <div class="col-md-4">
                <div class="card" style=" color: darkcyan">
                    <div class="card-header">
                        <h6>Antecedentes Sistematicos</h6>
                    </div>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="selDeportes">Hipertensión arterial:</label>
                                <select class="form-control" [(ngModel)]="audiometria.HipertensionArterial"
                                    name="HipertensionArterial" required>
                                    <option *ngFor="let method of antecedentes" [value]="method.id" required>
                                        {{method.label}}
                                    </option>
                                </select>
                            </div>

                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="inputDeportes">Diabetes mellitus:</label>
                                <select class="form-control" [(ngModel)]="audiometria.Diabetis" name="Diabetis"
                                    required>
                                    <option *ngFor="let method of antecedentes" [value]="method.id" required>
                                        {{method.label}}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="inputDeportes">Tumores del SNC:</label>
                                <select class="form-control" [(ngModel)]="audiometria.tumoresSNC" name="tumoresSNC"
                                    required>
                                    <option *ngFor="let method of antecedentes" [value]="method.id" required>
                                        {{method.label}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card" style=" color: darkcyan">
                    <div class="card-header">
                        <h6>Antecedentes Ontólogicos</h6>
                    </div>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="selDeportes">Acufenos:</label>
                                <select class="form-control" [(ngModel)]="audiometria.Acufenos" name="Acufenos"
                                    required>
                                    <option *ngFor="let method of antecedentes" [value]="method.id" required>
                                        {{method.label}}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="selDeportes">Vértigo:</label>
                                <select class="form-control" [(ngModel)]="audiometria.Vertigo" name="Vertigo" required>
                                    <option *ngFor="let method of antecedentes" [value]="method.id" required>
                                        {{method.label}}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label>Otalgia:</label>
                                <select class="form-control" [(ngModel)]="audiometria.Otalgia" name="Otalgia" required>
                                    <option *ngFor="let method of antecedentes" [value]="method.id" required>
                                        {{method.label}}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="selDeportes">Otorrea:</label>
                                <select class="form-control" [(ngModel)]="audiometria.Otorrea" name="Otorrea" required>
                                    <option *ngFor="let method of antecedentes" [value]="method.id" required>
                                        {{method.label}}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="selDeportes">Otorragia:</label>
                                <select class="form-control" [(ngModel)]="audiometria.Otorragia" name="Otorragia"
                                    required>
                                    <option *ngFor="let method of antecedentes" [value]="method.id" required>
                                        {{method.label}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card" style=" color: darkcyan">
                    <div class="card-header">
                        <h6>Exposición Laboral</h6>
                    </div>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="selDeportes">Antecedentes a exposición al ruido:</label>
                                <select class="form-control" [(ngModel)]="audiometria.Ruido" name="Ruido" required>
                                    <option *ngFor="let method of antecedentes" [value]="method.id" required>
                                        {{method.label}}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="selDeportes">Exposición actual al ruido:</label>
                                <select class="form-control" [(ngModel)]="audiometria.ActualaRuido" name="ActualaRuido"
                                    required>
                                    <option *ngFor="let method of antecedentes" [value]="method.id" required>
                                        {{method.label}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-md-6">
                <div class="card" style=" color: darkcyan">
                    <div class="card-header">
                        <h6>Antecedentes Personales</h6>
                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label for="selDeportes">Toxicos:</label>
                            </div>
                            <div class="col-md-4">
                                <select class="form-control" [(ngModel)]="audiometria.Toxicos" name="Toxicos" required>
                                    <option *ngFor="let method of antecedentes" [value]="method.id" required>
                                        {{method.label}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <input type="text" placeholder="observaciones" class="form-control">
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-4">
                                <label for="selDeportes">Trtamientos con antituberculosos:</label>
                            </div>
                            <div class="col-md-4">
                                <select class="form-control" [(ngModel)]="audiometria.Antituberculosis"
                                    name="Antituberculosis" required>
                                    <option *ngFor="let method of antecedentes" [value]="method.id" required>
                                        {{method.label}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <input type="text" placeholder="observaciones" class="form-control">
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-4">
                                <label for="selDeportes">Salicilados,aspirinas(>4 al día) :</label>
                            </div>
                            <div class="col-md-4">
                                <select class="form-control" [(ngModel)]="audiometria.Aspirinas" name="Aspirinas"
                                    required>
                                    <option *ngFor="let method of antecedentes" [value]="method.id" required>
                                        {{method.label}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <input type="text" placeholder="observaciones" class="form-control">
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-4">
                                <label for="selDeportes">Otros tratamientos con antibióticos:</label>
                            </div>
                            <div class="col-md-4">
                                <select class="form-control" [(ngModel)]="audiometria.Antibioticos" name="Antibioticos"
                                    required>
                                    <option *ngFor="let method of antecedentes" [value]="method.id" required>
                                        {{method.label}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <input type="text" placeholder="observaciones" class="form-control">
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-4">
                                <label for="selDeportes">Fumador:</label>
                            </div>
                            <div class="col-md-4">
                                <select class="form-control" [(ngModel)]="audiometria.Fumador" name="Fumador" required>
                                    <option *ngFor="let method of antecedentes" [value]="method.id" required>
                                        {{method.label}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <input type="number" placeholder="No cigarrillos día" class="form-control">
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-4">
                                <label for="selDeportes">Alcohol:</label>
                            </div>
                            <div class="col-md-4">
                                <select class="form-control" [(ngModel)]="audiometria.Alcoholico" name="Alcoholico"
                                    required>
                                    <option *ngFor="let method of antecedentes" [value]="method.id" required>
                                        {{method.label}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <input type="text" placeholder="Cant. copas día" class="form-control">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="card" style=" color: darkcyan">
                    <div class="card-header">
                        <h6>Estado Actual de audición</h6>
                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label for="selDeportes">¿Oye bien?:</label>
                            </div>
                            <div class="col-md-4">
                                <select class="form-control" [(ngModel)]="audiometria.AuducionEstado"
                                    name="AuducionEstado" required>
                                    <option *ngFor="let method of antecedentes" [value]="method.id" required>
                                        {{method.label}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <input type="text" placeholder="observaciones" class="form-control">
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-4">
                                <label for="selDeportes">¿En conversaciones se hace repetir con frecuencia?:</label>
                            </div>
                            <div class="col-md-4">
                                <select class="form-control" [(ngModel)]="audiometria.Repeticion" name="Repeticion"
                                    required>
                                    <option *ngFor="let method of antecedentes" [value]="method.id" required>
                                        {{method.label}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <input type="text" placeholder="observaciones" class="form-control">
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-4">
                                <label for="selDeportes">¿Debe aumentar el volumen del TV?:</label>
                            </div>
                            <div class="col-md-4">
                                <select class="form-control" [(ngModel)]="audiometria.AumentoVolumen"
                                    name="AumentoVolumen" required>
                                    <option *ngFor="let method of antecedentes" [value]="method.id" required>
                                        {{method.label}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <input type="text" placeholder="observaciones" class="form-control">
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-4">
                                <label for="selDeportes">¿Oye mejor cuando hay ruido?:</label>
                            </div>
                            <div class="col-md-4">
                                <select class="form-control" [(ngModel)]="audiometria.EscucharenRuido"
                                    name="EscucharenRuido" required>
                                    <option *ngFor="let method of antecedentes" [value]="method.id" required>
                                        {{method.label}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <input type="text" placeholder="observaciones" class="form-control">
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-4">
                                <label for="selDeportes">¿Le molestan los ruidos intensos?:</label>
                            </div>
                            <div class="col-md-4">
                                <select class="form-control" [(ngModel)]="audiometria.RuidosIntensos"
                                    name="RuidosIntensos" required>
                                    <option *ngFor="let method of antecedentes" [value]="method.id" required>
                                        {{method.label}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <input type="text" placeholder="observaciones" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>

        <div class="card" style=" color: darkcyan">
            <div class="card-header">
                <h3 class="text-center">OTOSCOPIA</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <label> Oido Derecho </label>
                        <select class="form-control" [(ngModel)]="audiometria.OtoscopiaDerecho" name="OtoscopiaDerecho"
                            required>
                            <option *ngFor="let method of otoscopia" [value]="method.id" required>
                                {{method.label}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label> Oido Izquierdo </label>
                        <select class="form-control" [(ngModel)]="audiometria.OtoscopiaIzquierdo"
                            name="OtoscopiaIzquierdo" required>
                            <option *ngFor="let method of otoscopia" [value]="method.id" required>
                                {{method.label}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <br>

        <div class="card" style=" color: darkcyan">
            <div class="card-header">
                <h3 class="text-center">Membrana Timpanica</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <label> Oido Derecho </label>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control" [(ngModel)]="audiometria.TimpanicaDerecho" name="TimpanicaDerecho"
                            required>
                            <option *ngFor="let method of otoscopia" [value]="method.id" required>
                                {{method.label}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label> Oido Izquierdo </label>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control" [(ngModel)]="audiometria.TimpanicaIzquierda"
                            name="TimpanicaIzquierda" required>
                            <option *ngFor="let method of otoscopia" [value]="method.id" required>
                                {{method.label}}
                            </option>
                        </select>
                    </div>
                </div>


                <br>
                <div class="row">
                    <div class="col-md-6">
                        <input type="text" placeholder="observaciones" class="form-control">
                    </div>

                    <div class="col-md-6">
                        <input type="text" placeholder="observaciones" class="form-control">
                    </div>
                </div>
            </div>
        </div>

        <br>
        <br>
        <div class="card" style=" color: darkcyan">
            <div class="card-header">
                <h3 class="text-center">Audiometria</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <label> Oido Derecho </label>
                        <select class="form-control" [(ngModel)]="audiometria.audiomD" name="audiomD" required>
                            <option *ngFor="let method of audiom" [value]="method.id" required>
                                {{method.label}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label> Oido Izquierdo </label>
                        <select class="form-control" [(ngModel)]="audiometria.audiomI" name="audiomI" required>
                            <option *ngFor="let method of audiom" [value]="method.id" required>
                                {{method.label}}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label>Diagnostico descriptivo</label>
                    <textarea name="diag" class="form-control "></textarea>
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <label> Resultado de audiometria </label>
                        <select class="form-control" [(ngModel)]="audiometria.result" name="result" required>
                            <option *ngFor="let method of result" [value]="method.id" required>
                                {{method.label}}
                            </option>
                        </select>
                    </div>

                    <div class="col-md-6">
                        <label>Recomendaciones</label>
                        <textarea name="reco" class="form-control "></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label>¿Se entregan resultados al funcionario?</label>
                        <select class="form-control" [(ngModel)]="audiometria.entregaR" name="entregaR" required>
                            <option *ngFor="let method of antecedentes" [value]="method.id" required>
                                {{method.label}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>


        <br>
        <br>
        <div class="form-group row offset-md-4">
            <div class="col-md-6">
                <input type="text" class="form-control" required />
            </div>
        </div>

        <div class="form-group row offset-md-4 text-center">
            <div class="col-md-6">
                <label class="h6"><b>Nombre del Profesional</b></label>
            </div>
        </div>
        <br>

        <div class="form-group row offset-md-2 text-center center-block">
            <div class="col-md-10">
                <button type="submit" class="btn btn-info btn-lg" [disabled]="f.invalid">
                    <i class="fas fa-check"></i> Crear
                </button>
            </div>
        </div>
        <br>
        <br>

    </form>
</div>