<h1 class="animated fadeIn fast">Listado de Roles</h1>

<hr>

<div class="container">
    <div class="row">
        <div class="col text-right">
            <button routerLink="/rol/nuevo" class="btn btn-primary">
                <i class="fa fa-plus"></i>
                add
            </button>
        </div>
    </div>

    <table *ngIf="roles.length !== 0" class="table table-borderless animated fadeIn fast">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">estado</th>
                <th scope="col">permisos</th>
                <th>Tools</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let rol of roles ; let i  = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{rol.nombre}}</td>
                <td>{{rol.estado}}</td>
                <td>
                    <p *ngFor="let nom of rol.permisos">
                        {{nom}}
                    </p>
                </td>
                <td>
                    <button class="btn btn-info mr-1" routerLink="/rol/{{ rol.id }}">
                       <i class="fa fa-pen"></i> 
                    </button>
                    <button class="btn btn-danger mr-1" (click)="removerRol(rol)">
                        <i class="fa fa-trash" ></i>
                    </button>
                </td>
                <hr>
            </tr>
        </tbody>
    </table>
    <div *ngIf="cargando" class="alert alert-info text-center mt-3">
        <h4 class="alert-heading">Cargando</h4>
        <p>
            <i class="fa fa-exclamation fa-2x"></i>
        </p>
    </div>
    <div *ngIf="!Cargando && roles.length === 0" class="alert alert-warning text-center mt-3">
        <h4 class="alert-heading"> No Hay Registros </h4>
        <p>
            <i class="fa fa-exclamation fa-2x"></i>
        </p>
    </div>
</div>