<div class="container mt-5">
    <form (ngSubmit)="update( f )" #f="ngForm">
        <div class="card">
            <div class="card-body">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">apellidos y nombres</span>
                    </div>
                    <input type="text" aria-label="apellidos" class="form-control" [(ngModel)]="user.apellido" name="apellido">
                    <input type="text" aria-label="nombres" class="form-control" [(ngModel)]="user.nombre" name="nombre">
                </div>
                <div class="input-group mt-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text">cedula y fecha de nacimiento</span>
                    </div>
                    <input type="text" aria-label="cedula" class="form-control" [(ngModel)]="user.cedula" name="cedula">
                    <input type="date" aria-label="fecha" class="form-control" [(ngModel)]="user.fechaed" name="fecha">
                </div>
            </div>
        </div>

        <div class="card mt-2">
            <div class="card-body">
                <label>Empresa asociada</label>
                <select class="form-control" [(ngModel)]="user.empresaAsociada" name="empre">
                            <option *ngFor="let em of empresas">{{ em.nombre }}</option>
                </select>
            </div>
        </div>

        <div class="card mt-2">
            <div class="card-body">
                <label>Rol Asignado</label>
                <select class="form-control" [(ngModel)]="user.rol" name="rol">
                    <option *ngFor="let ro of roles">{{ ro.nombre }}</option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-2">Guardar</button>
    </form>

</div>