<br>
<h1 class="text-center">Autorreporte de condiciones de salud</h1>
<br>
<br>
<div class="container">
  <form (ngSubmit)="guardar( f.value, f.valid )" #f="ngForm">
    <div class="card" style="width: 70rem; color: darkcyan">
      <div class="card-header">
        <h6>Identificación</h6>
      </div>


      <div class="card-body">
        <div class="form-row">
          <div class="form-group col-md-8">
            <label for="inputNombre">Nombre:</label>
            <input type="text" class="form-control" name="nombre" placeholder="Nombre"
              [(ngModel)]="condicionesSalud.nombre" required>
          </div>
          <div class="form-group col-md-4">
            <label for="inputCedula">Cédula de Ciudadanía:</label>
            <input type="text" class="form-control" name="cedula" placeholder="Cédula de Ciudadanía"
              [(ngModel)]="condicionesSalud.cedula" required>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputEdad">Edad:</label>
            <input type="number" class="form-control" name="edad" placeholder="Edad" [(ngModel)]="condicionesSalud.edad"
              required>
          </div>
          <div class="form-group col-md-4">
            <label for="inputTalla">Talla:</label>
            <input type="number" class="form-control" name="talla" placeholder="Talla"
              [(ngModel)]="condicionesSalud.talla" required>
          </div>
          <div class="form-group col-md-4">
            <label for="inputPeso">Peso:</label>
            <input type="number" class="form-control" name="peso" placeholder="Peso" [(ngModel)]="condicionesSalud.peso"
              required>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-8">
            <label for="inputCargo">Cargo:</label>
            <input type="text" class="form-control" name="cargo" placeholder="Cargo"
              [(ngModel)]="condicionesSalud.cargo" required>
          </div>
          <div class="form-group col-md-4">
            <label for="inputAntiguedad">Antigüedad:</label>
            <input type="number" class="form-control" name="antiguedad" placeholder="Antigüedad"
              [(ngModel)]="condicionesSalud.antiguedad" required>
          </div>
        </div>
      </div>
    </div>
    <br>

    <div class="row">

      <div class="col-md-6">
        <div class="card" style=" color: darkcyan">
          <div class="card-header">
            <h6>Estado civil</h6>
          </div>
          <div class="card-body">

            <select class="form-control" [(ngModel)]="condicionesSalud.estadoCivil" name="estadoCivil" required>
              <option *ngFor="let method of estado" [value]="method.id" [selected]="method.id === 'soltero'">
                {{method.label}}</option>
            </select>
          </div>

        </div>
      </div>
      <div class="col-md-6">
        <div class="card" style=" color: darkcyan">
          <div class="card-header">
            <h6>Nivel academico</h6>
          </div>
          <div class="card-body">
            <select class="form-control" id="nivelAcademico" [(ngModel)]="condicionesSalud.nivelAcademico"
              name="nivelAcademico" required>
              <option *ngFor="let nivel of nivelAcademico" [value]="nivel.id">{{nivel.label}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <br>
    <br>

    <div class="row">
      <div class="col-md-6">
        <div class="card" style=" color: darkcyan">
          <div class="card-header">
            <h6>Personas a cargo</h6>
          </div>

          <div class="card-body">

            <label for="inputUltimaEmpresa">Número de personas a cargo:</label>
            <input type="number" class="form-control" id="numPersonasCargo" name="numPersonasCargo"
              [(ngModel)]="condicionesSalud.numPersonasCargo" placeholder="Personas a cargo">
            <br>
            <label for="inputTipoRiesgo">Depto. o sección:</label>
            <input type="text" class="form-control" id="depSeccion" name="depSeccion"
              [(ngModel)]="condicionesSalud.depSeccion" placeholder="Depto. o sección">
          </div>

        </div>
      </div>

      <div class="col-md-6">
        <div class="card" style=" color: darkcyan">
          <div class="card-header">
            <h6>Antigüedad</h6>
          </div>
          <div class="card-body">

            <label for="selDeportes">En la empresa:</label>
            <input type="number" class="form-control" id="antiguedadEmpresa" name="antiguedadEmpresa"
              [(ngModel)]="condicionesSalud.antiguedadEmpresa" placeholder="Antigüedad en la empresa">

            <br>
            <label for="inputDeportes">En el cargo:</label>
            <input type="number" class="form-control" id="antiguedadCargo" name="antiguedadCargo"
              [(ngModel)]="condicionesSalud.antiguedadCargo" placeholder="Antigüedad en el cargo">

          </div>
        </div>
      </div>
    </div>
    <br>


    <br>
    <div class="row">
      <div class="col-md-4">
        <div class="card" style=" color: darkcyan">
          <div class="card-header">
            <h6>Vinculación</h6>
          </div>
          <div class="card-body">
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="selDeportes">Planta:</label>
                <select class="form-control" id="vinculacion" name="vinculacion"
                  [(ngModel)]="condicionesSalud.vinculacion">
                  <option *ngFor="let bonding of vinculacion" [value]="bonding.id">{{bonding.label}}</option>
                </select>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card" style=" color: darkcyan">
          <div class="card-header">
            <h6>Turno</h6>
          </div>
          <div class="card-body">
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="selDeportes">Planta:</label>
                <select class="form-control" id="turno" name="turno" [(ngModel)]="condicionesSalud.turno" required>
                  <option *ngFor="let turn of turno" [value]="turn.id">{{turn.label}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card" style=" color: darkcyan">
          <div class="card-header">
            <h6>Funciones</h6>
          </div>
          <div class="card-body">
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="selDeportes">Planta:</label>
                <select class="form-control" id="funciones" name="funciones" [(ngModel)]="condicionesSalud.funciones"
                  required>
                  <option *ngFor="let function of funciones" [value]="function.id">{{function.label}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>




    <br>
    <div class="card" style="width: 70rem; color: darkcyan">
      <div class="card-header">
        <h6>Antecedentes familiares</h6>
      </div>
      <div class="card-body">
        <div class="form-row">
          <div class="form-group col-md-2">
            Enfermedades
          </div>
          <div class="form-group col-md-2">
            <label for="inputA1Trabajador">Padre</label>

          </div>
          <div class="form-group col-md-2">
            <label for="inputA1Familiares">Madre</label>

          </div>
          <div class="form-group col-md-2">
            <label for="inputA1Familiares">Hno/a (s)</label>
          </div>
          <div class="form-group col-md-2">
            <label for="inputA1Trabajador">Tio (s) (Paternos)</label>

          </div>
          <div class="form-group col-md-2">
            <label for="inputA1Familiares">Tio (s) (Maternos)</label>

          </div>
        </div>


        <div class="form-row">
          <div class="form-group col-md-2">
            Hipertensión arterial:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="hipertensionP" name="hipertensionP"
              [(ngModel)]="condicionesSalud.hipertensionP">
              <option *ngFor="let record of antecedentesF" [value]="record.id">{{record.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="hipertensionM" name="hipertensionM"
              [(ngModel)]="condicionesSalud.hipertensionM">
              <option *ngFor="let record of antecedentesF" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            <select class="form-control" id="hipertensionH" name="hipertensionH"
              [(ngModel)]="condicionesSalud.hipertensionH">
              <option *ngFor="let record of antecedentesF" [value]="record.id">{{record.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="hipertensionTP" name="hipertensionTP"
              [(ngModel)]="condicionesSalud.hipertensionTP">
              <option *ngFor="let record of antecedentesF" [value]="record.id">{{record.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="hipertensionTM" name="hipertensionTM"
              [(ngModel)]="condicionesSalud.hipertensionTM">
              <option *ngFor="let record of antecedentesF" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

        </div>
        <div class="form-row">


          <div class="form-group col-md-2">
            Enfermedad Cronica:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="enfermedadCronicaP" name="enfermedadCronicaP"
              [(ngModel)]="condicionesSalud.enfermedadCronicaP">
              <option *ngFor="let record of antecedentesF" [value]="record.id">{{record.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="enfermedadCronicaM" name="enfermedadCronicaM"
              [(ngModel)]="condicionesSalud.enfermedadCronicaM">
              <option *ngFor="let record of antecedentesF" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            <select class="form-control" id="enfermedadCronicaH" name="enfermedadCronicaH"
              [(ngModel)]="condicionesSalud.enfermedadCronicaH">
              <option *ngFor="let record of antecedentesF" [value]="record.id">{{record.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="enfermedadCronicaTP" name="enfermedadCronicaTP"
              [(ngModel)]="condicionesSalud.enfermedadCronicaTP">
              <option *ngFor="let record of antecedentesF" [value]="record.id">{{record.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="enfermedadCronicaTM" name="enfermedadCronicaTM"
              [(ngModel)]="condicionesSalud.enfermedadCronicaTM">
              <option *ngFor="let record of antecedentesF" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

        </div>

        <div class="form-row">
          <div class="form-group col-md-2">
            Asma:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="asmaP" name="asmaP" [(ngModel)]="condicionesSalud.asmaP">
              <option *ngFor="let record of antecedentesF" [value]="record.id">{{record.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="asmaM" name="asmaM" [(ngModel)]="condicionesSalud.asmaM">
              <option *ngFor="let record of antecedentesF" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            <select class="form-control" id="asmaH" name="asmaH" [(ngModel)]="condicionesSalud.asmaH">
              <option *ngFor="let record of antecedentesF" [value]="record.id">{{record.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="asmaTP" name="asmaTP" [(ngModel)]="condicionesSalud.asmaTP">
              <option *ngFor="let record of antecedentesF" [value]="record.id">{{record.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="asmaTM" name="asmaTM" [(ngModel)]="condicionesSalud.asmaTM">
              <option *ngFor="let record of antecedentesF" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

        </div>


        <div class="form-row">
          <div class="form-group col-md-2">
            Alergias:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="alergiasP" name="alergiasP" [(ngModel)]="condicionesSalud.alergiasP">
              <option *ngFor="let record of antecedentesF" [value]="record.id">{{record.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="alergiasM" name="alergiasM" [(ngModel)]="condicionesSalud.alergiasM">
              <option *ngFor="let record of antecedentesF" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            <select class="form-control" id="alergiasH" name="alergiasH" [(ngModel)]="condicionesSalud.alergiasH">
              <option *ngFor="let record of antecedentesF" [value]="record.id">{{record.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="alergiasTP" name="alergiasTP" [(ngModel)]="condicionesSalud.alergiasTP">
              <option *ngFor="let record of antecedentesF" [value]="record.id">{{record.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="alergiasTM" name="alergiasTM" [(ngModel)]="condicionesSalud.alergiasTM">
              <option *ngFor="let record of antecedentesF" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

        </div>

        <div class="form-row">
          <div class="form-group col-md-2">
            Trombosis o hemorragias cerebrales:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="trombosisP" name="trombosisP" [(ngModel)]="condicionesSalud.trombosisP">
              <option *ngFor="let record of antecedentesF" [value]="record.id">{{record.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="trombosisM" name="trombosisM" [(ngModel)]="condicionesSalud.trombosisM">
              <option *ngFor="let record of antecedentesF" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            <select class="form-control" id="trombosisH" name="trombosisH" [(ngModel)]="condicionesSalud.trombosisH">
              <option *ngFor="let record of antecedentesF" [value]="record.id">{{record.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="trombosisTP" name="trombosisTP" [(ngModel)]="condicionesSalud.trombosisTP">
              <option *ngFor="let record of antecedentesF" [value]="record.id">{{record.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="trombosisTM" name="trombosisTM" [(ngModel)]="condicionesSalud.trombosisTM">
              <option *ngFor="let record of antecedentesF" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            Diabetes:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="diabetesP" name="diabetesP" [(ngModel)]="condicionesSalud.diabetesP">
              <option *ngFor="let record of antecedentesF" [value]="record.id">{{record.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="diabetesM" name="diabetesM" [(ngModel)]="condicionesSalud.diabetesM">
              <option *ngFor="let record of antecedentesF" [value]="record.id">{{record.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="diabetesH" name="diabetesH" [(ngModel)]="condicionesSalud.diabetesH">
              <option *ngFor="let record of antecedentesF" [value]="record.id">{{record.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="diabetesTP" name="diabetesTP" [(ngModel)]="condicionesSalud.diabetesTP">
              <option *ngFor="let record of antecedentesF" [value]="record.id">{{record.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="diabetesTM" name="diabetesTM" [(ngModel)]="condicionesSalud.diabetesTM">
              <option *ngFor="let record of antecedentesF" [value]="record.id">{{record.label}}</option>
            </select>
          </div>
        </div>


        <div class="form-row">
          <div class="form-group col-md-2">
            <label for="inputOtro">Enfermedades Mentales:</label>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="enfermedadMentalP" name="enfermedadMentalP"
              [(ngModel)]="condicionesSalud.enfermedadMentalP">
              <option *ngFor="let record of antecedentesF" [value]="record.id">{{record.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="enfermedadMentalM" name="enfermedadMentalM"
              [(ngModel)]="condicionesSalud.enfermedadMentalM">
              <option *ngFor="let record of antecedentesF" [value]="record.id">{{record.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="enfermedadMentalH" name="enfermedadMentalH"
              [(ngModel)]="condicionesSalud.enfermedadMentalH">
              <option *ngFor="let record of antecedentesF" [value]="record.id">{{record.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="enfermedadMentalTP" name="enfermedadMentalTP"
              [(ngModel)]="condicionesSalud.enfermedadMentalTP">
              <option *ngFor="let record of antecedentesF" [value]="record.id">{{record.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="enfermedadMentalTM" name="enfermedadMentalTM"
              [(ngModel)]="condicionesSalud.enfermedadMentalTM">
              <option *ngFor="let record of antecedentesF" [value]="record.id">{{record.label}}</option>
            </select>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-2">
            <label for="inputOtro">Sindrome Convulsivo:</label>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="sindromeConvulsivoP" name="sindromeConvulsivoP"
              [(ngModel)]="condicionesSalud.sindromeConvulsivoP">
              <option *ngFor="let record of antecedentesF" [value]="record.id">{{record.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="sindromeConvulsivoM" name="sindromeConvulsivoM"
              [(ngModel)]="condicionesSalud.sindromeConvulsivoM">
              <option *ngFor="let record of antecedentesF" [value]="record.id">{{record.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="sindromeConvulsivoH" name="sindromeConvulsivoH"
              [(ngModel)]="condicionesSalud.sindromeConvulsivoH">
              <option *ngFor="let record of antecedentesF" [value]="record.id">{{record.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="sindromeConvulsivoTP" name="sindromeConvulsivoTP"
              [(ngModel)]="condicionesSalud.sindromeConvulsivoTP">
              <option *ngFor="let record of antecedentesF" [value]="record.id">{{record.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="sindromeConvulsivoTM" name="sindromeConvulsivoTM"
              [(ngModel)]="condicionesSalud.sindromeConvulsivoTM">
              <option *ngFor="let record of antecedentesF" [value]="record.id">{{record.label}}</option>
            </select>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-2">
            <label for="inputOtro">Artritis - Artrosis:</label>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="artritisP" name="artritisP" [(ngModel)]="condicionesSalud.artritisP">
              <option *ngFor="let record of antecedentesF" [value]="record.id">{{record.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="artritisM" name="artritisM" [(ngModel)]="condicionesSalud.artritisM">
              <option *ngFor="let record of antecedentesF" [value]="record.id">{{record.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="artritisH" name="artritisH" [(ngModel)]="condicionesSalud.artritisH">
              <option *ngFor="let record of antecedentesF" [value]="record.id">{{record.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="artritisTP" name="artritisTP" [(ngModel)]="condicionesSalud.artritisTP">
              <option *ngFor="let record of antecedentesF" [value]="record.id">{{record.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="artritisTM" name="artritisTM" [(ngModel)]="condicionesSalud.artritisTM">
              <option *ngFor="let record of antecedentesF" [value]="record.id">{{record.label}}</option>
            </select>
          </div>
        </div>


        <div class="form-row">
          <div class="form-group col-md-2">
            <label for="inputOtro">Drogadiccón:</label>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="drogadiccionP" name="drogadiccionP"
              [(ngModel)]="condicionesSalud.drogadiccionP">
              <option *ngFor="let record of antecedentesF" [value]="record.id">{{record.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="drogadiccionM" name="drogadiccionM"
              [(ngModel)]="condicionesSalud.drogadiccionM">
              <option *ngFor="let record of antecedentesF" [value]="record.id">{{record.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="drogadiccionH" name="drogadiccionH"
              [(ngModel)]="condicionesSalud.drogadiccionH">
              <option *ngFor="let record of antecedentesF" [value]="record.id">{{record.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="drogadiccionTP" name="drogadiccionTP"
              [(ngModel)]="condicionesSalud.drogadiccionTP">
              <option *ngFor="let record of antecedentesF" [value]="record.id">{{record.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="drogadiccionTM" name="drogadiccionTM"
              [(ngModel)]="condicionesSalud.drogadiccionTM">
              <option *ngFor="let record of antecedentesF" [value]="record.id">{{record.label}}</option>
            </select>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-2">
            <label for="inputOtro">Alcoholismo:</label>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="alcoholismoP" name="alcoholismoP"
              [(ngModel)]="condicionesSalud.alcoholismoP">
              <option *ngFor="let record of antecedentesF" [value]="record.id">{{record.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="alcoholismoM" name="alcoholismoM"
              [(ngModel)]="condicionesSalud.alcoholismoM">
              <option *ngFor="let record of antecedentesF" [value]="record.id">{{record.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="alcoholismoH" name="alcoholismoH"
              [(ngModel)]="condicionesSalud.alcoholismoH">
              <option *ngFor="let record of antecedentesF" [value]="record.id">{{record.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="alcoholismoTP" name="alcoholismoTP"
              [(ngModel)]="condicionesSalud.alcoholismoTP">
              <option *ngFor="let record of antecedentesF" [value]="record.id">{{record.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="alcoholismoTM" name="alcoholismoTM"
              [(ngModel)]="condicionesSalud.alcoholismoTM">
              <option *ngFor="let record of antecedentesF" [value]="record.id">{{record.label}}</option>
            </select>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-2">
            <label for="inputOtro">Cancer:</label>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="cancerP" name="cancerP" [(ngModel)]="condicionesSalud.cancerP">
              <option *ngFor="let record of antecedentesF" [value]="record.id">{{record.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="cancerM" name="cancerM" [(ngModel)]="condicionesSalud.cancerM">
              <option *ngFor="let record of antecedentesF" [value]="record.id">{{record.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="cancerH" name="cancerH" [(ngModel)]="condicionesSalud.cancerH">
              <option *ngFor="let record of antecedentesF" [value]="record.id">{{record.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="cancerTP" name="cancerTP" [(ngModel)]="condicionesSalud.cancerTP">
              <option *ngFor="let record of antecedentesF" [value]="record.id">{{record.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="cancerTM" name="cancerTM" [(ngModel)]="condicionesSalud.cancerTM">
              <option *ngFor="let record of antecedentesF" [value]="record.id">{{record.label}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="card" style="width: 70rem; color: darkcyan">
      <div class="card-header">
        <h6>Infecciones de la infancia</h6>
      </div>
      <div class="card-body">
        <div class="form-row">
          <div class="form-group col-md-2">
            Parotiditis:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="parotiditis" name="parotiditis" [(ngModel)]="condicionesSalud.parotiditis">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            Ha sufrido de alguna enfermedad
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="sufrirEnfermedad" name="sufrirEnfermedad"
              [(ngModel)]="condicionesSalud.sufrirEnfermedad">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            Ha estado hospitalizado:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="estarHospitalizado" name="estarHospitalizado"
              [(ngModel)]="condicionesSalud.estarHospitalizado">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

        </div>
        <div class="form-row">
          <div class="form-group col-md-2">
            Varicela:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="varicela" name="varicela" [(ngModel)]="condicionesSalud.varicela">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            Alergicos:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="alergicos" name="alergicos" [(ngModel)]="condicionesSalud.alergicos">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            Alteraciones mentales:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="alteracionesMentales" name="alteracionesMentales"
              [(ngModel)]="condicionesSalud.alteracionesMentales">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-2">
            Rubeola:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="rubeola" name="rubeola" [(ngModel)]="condicionesSalud.rubeola">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            Golpes fuertes o fracturas:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="golpes" name="golpes" [(ngModel)]="condicionesSalud.golpes">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            Enf. De transmición sexual:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="enfermedadTS" name="enfermedadTS"
              [(ngModel)]="condicionesSalud.enfermedadTS">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            Cirugias:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="cirugias" name="cirugias" [(ngModel)]="condicionesSalud.cirugias">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            Más de dos compañeros sexuales en el último año:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="companerosSexuales" name="companerosSexuales"
              [(ngModel)]="condicionesSalud.companerosSexuales">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            Transfuciones:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="transfuciones" name="transfuciones"
              [(ngModel)]="condicionesSalud.transfuciones">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="card" style="width: 70rem; color: darkcyan">
      <div class="card-header">
        <h6>Antecedentes toxicos</h6>
      </div>
      <div class="card-body">
        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="inputA1Trabajador">Fuma</label>
          </div>
          <div class="form-group col-md-3">
            <select class="form-control" id="fuma" name="fuma" [(ngModel)]="condicionesSalud.fuma">
              <option *ngFor="let record of antecedentesT" [value]="record.id">{{record.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <label for="inputA1Trabajador">Consumos medicamentos</label>
          </div>
          <div class="form-group col-md-3">
            <select class="form-control" id="consumoM" name="consumoM" [(ngModel)]="condicionesSalud.consumoM">
              <option *ngFor="let record of antecedentesT" [value]="record.id">{{record.label}}</option>
            </select>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="inputA1Trabajador">Alcohol</label>
          </div>
          <div class="form-group col-md-3">
            <select class="form-control" id="alcohol" name="alcohol" [(ngModel)]="condicionesSalud.alcohol">
              <option *ngFor="let record of antecedentesT" [value]="record.id">{{record.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <label for="inputA1Trabajador">¿Consume sustancias psicoactivas?</label>
          </div>
          <div class="form-group col-md-3">
            <select class="form-control" id="psicoactivas" name="psicoactivas"
              [(ngModel)]="condicionesSalud.psicoactivas">
              <option *ngFor="let record of antecedentesT" [value]="record.id">{{record.label}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <br>



    <br>
    <div class="card" style="width: 70rem; color: darkcyan">
      <div class="card-header">
        <h6>Exposiciones ocupacionales del INPEC</h6>
      </div>
      <div class="card-body">
        <div class="form-row">
          <div class="form-group col-md-2">
            Frio intenso:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="frio" name="frio" [(ngModel)]="condicionesSalud.frio">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            Gases y vapores:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="gases" name="gases" [(ngModel)]="condicionesSalud.gases">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            Sobrecarga de trabajo:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="sobrecarga" name="sobrecarga" [(ngModel)]="condicionesSalud.sobrecarga">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

        </div>
        <div class="form-row">
          <div class="form-group col-md-2">
            Calor intenso:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="calor" name="calor" [(ngModel)]="condicionesSalud.calor">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            Contacto de piel con químicos:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="quimicos" name="quimicos" [(ngModel)]="condicionesSalud.quimicos">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            Horas extras:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="hExtras" name="hExtras" [(ngModel)]="condicionesSalud.hExtras">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

        </div>

        <div class="form-row">
          <div class="form-group col-md-2">
            Ruido:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="ruido" name="ruido" [(ngModel)]="condicionesSalud.ruido">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            Malos olores:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="mOlores" name="mOlores" [(ngModel)]="condicionesSalud.mOlores">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            Manejo de público:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="publico" name="publico" [(ngModel)]="condicionesSalud.publico">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            Máquinas con vibración:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="maquinas" name="maquinas" [(ngModel)]="condicionesSalud.maquinas">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            Diseño inadecuado de muebles:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="muebles" name="muebles" [(ngModel)]="condicionesSalud.muebles">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            Conflicto de autoridad:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="conflictoA" name="conflictoA" [(ngModel)]="condicionesSalud.conflictoA">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            Luz excesiva:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="luzE" name="luzE" [(ngModel)]="condicionesSalud.luzE">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            Movimientos repetitivos:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="movimientosR" name="movimientosR"
              [(ngModel)]="condicionesSalud.movimientosR">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            Violencia común:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="violencia" name="violencia" [(ngModel)]="condicionesSalud.violencia">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            Luz deficiente:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="luzD" name="luzD" [(ngModel)]="condicionesSalud.luzD">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            Posturas inadecuadas:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="posturasI" name="posturasI" [(ngModel)]="condicionesSalud.posturasI">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            Herramientas manuales:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="herramientasM" name="herramientasM"
              [(ngModel)]="condicionesSalud.herramientasM">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            Levantamiento:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="levantamiento" name="levantamiento"
              [(ngModel)]="condicionesSalud.levantamiento">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            Secreciones:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="secreciones" name="secreciones" [(ngModel)]="condicionesSalud.secreciones">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>


          <div class="form-group col-md-2">
            Digitación de documentos mas:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="digitacion" name="digitacion" [(ngModel)]="condicionesSalud.digitacion">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            Riesgos Electricos:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="riesgosE" name="riesgosE" [(ngModel)]="condicionesSalud.riesgosE">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>


          <div class="form-group col-md-2">
            Espacio de trabajo inadecuado:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="espacioInadecuado" name="espacioInadecuado"
              [(ngModel)]="condicionesSalud.espacioInadecuado">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            Proyección de particulas:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="proyeccionP" name="proyeccionP" [(ngModel)]="condicionesSalud.proyeccionP">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            Humos:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="humos" name="humos" [(ngModel)]="condicionesSalud.humos">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            Estrés:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="estres" name="estres" [(ngModel)]="condicionesSalud.estres">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            Picadura de insectos o mordeduras de animales:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="picaduras" name="picaduras" [(ngModel)]="condicionesSalud.picaduras">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            Polvos:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="polvos" name="polvos" [(ngModel)]="condicionesSalud.polvos">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            Trabajo monótono:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="tMonotono" name="tMonotono" [(ngModel)]="condicionesSalud.tMonotono">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

        </div>
      </div>
    </div>

    <br>
    <br>



    <div class="card" style="width: 70rem; color: darkcyan">
      <div class="card-header">
        <h6>Elementos de protección personal</h6>
      </div>
      <div class="card-body">
        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="inputA1Trabajador">Casco</label>
          </div>
          <div class="form-group col-md-3">
            <select class="form-control" id="casco" name="casco" [(ngModel)]="condicionesSalud.casco">
              <option *ngFor="let record of elementos" [value]="record.id">{{record.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <label for="inputA1Trabajador">Guantes</label>
          </div>
          <div class="form-group col-md-3">
            <select class="form-control" id="guantes" name="guantes" [(ngModel)]="condicionesSalud.guantes">
              <option *ngFor="let record of elementos" [value]="record.id">{{record.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <label for="inputA1Trabajador">Gorro</label>
          </div>
          <div class="form-group col-md-3">
            <select class="form-control" id="gorro" name="gorro" [(ngModel)]="condicionesSalud.gorro">
              <option *ngFor="let record of elementos" [value]="record.id">{{record.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <label for="inputA1Trabajador">Peto</label>
          </div>
          <div class="form-group col-md-3">
            <select class="form-control" id="peto" name="peto" [(ngModel)]="condicionesSalud.peto">
              <option *ngFor="let record of elementos" [value]="record.id">{{record.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <label for="inputA1Trabajador">Careta de acetato</label>
          </div>
          <div class="form-group col-md-3">
            <select class="form-control" id="careta" name="careta" [(ngModel)]="condicionesSalud.careta">
              <option *ngFor="let record of elementos" [value]="record.id">{{record.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <label for="inputA1Trabajador">Delantal</label>
          </div>
          <div class="form-group col-md-3">
            <select class="form-control" id="delantal" name="delantal" [(ngModel)]="condicionesSalud.delantal">
              <option *ngFor="let record of elementos" [value]="record.id">{{record.label}}</option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="inputA1Trabajador">Gafas de seguridad</label>
          </div>
          <div class="form-group col-md-3">
            <select class="form-control" id="gafas" name="gafas" [(ngModel)]="condicionesSalud.gafas">
              <option *ngFor="let record of elementos" [value]="record.id">{{record.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <label for="inputA1Trabajador">Calzado de seguridad</label>
          </div>
          <div class="form-group col-md-3">
            <select class="form-control" id="calzado" name="calzado" [(ngModel)]="condicionesSalud.calzado">
              <option *ngFor="let record of elementos" [value]="record.id">{{record.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <label for="inputA1Trabajador">Protectores auriculares</label>
          </div>
          <div class="form-group col-md-3">
            <select class="form-control" id="auriculares" name="auriculares" [(ngModel)]="condicionesSalud.auriculares">
              <option *ngFor="let record of elementos" [value]="record.id">{{record.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <label for="inputA1Trabajador">Bata</label>
          </div>
          <div class="form-group col-md-3">
            <select class="form-control" id="bata" name="bata" [(ngModel)]="condicionesSalud.bata">
              <option *ngFor="let record of elementos" [value]="record.id">{{record.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="inputOtro">Otro, ¿Cuál?:</label>
          </div>
          <div class="form-group col-md-10">
            <input type="text" class="form-control" id="otrasEnfermedades" name="otrasEnfermedades"
              [(ngModel)]="condicionesSalud.otrasEnfermedades" placeholder="Ninguno">
          </div>

        </div>
      </div>
    </div>

    <br>
    <br>

    <div class="card" style="width: 70rem; color: darkcyan">
      <div class="card-header">
        <h6>¿Tiene o le han diagnosticado alguna de las siguientes enfermedades?</h6>
      </div>
      <div class="card-body">
        <div class="form-row">
          <div class="form-group col-md-2">
            Mareos o desmayos:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="mareos" name="mareos" [(ngModel)]="condicionesSalud.mareos">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            Neuralgias:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="neuralgias" name="neuralgias" [(ngModel)]="condicionesSalud.neuralgias">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            Enfermedad en la piel:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="enfPiel" name="enfPiel" [(ngModel)]="condicionesSalud.enfPiel">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

        </div>
        <div class="form-row">
          <div class="form-group col-md-2">
            Se angustia fácil:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="angustia" name="angustia" [(ngModel)]="condicionesSalud.angustia">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            Diarrea frecuente:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="diarrea" name="diarrea" [(ngModel)]="condicionesSalud.diarrea">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            Trastornos en ojos:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="trastornos" name="trastornos" [(ngModel)]="condicionesSalud.trastornos">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

        </div>

        <div class="form-row">
          <div class="form-group col-md-2">
            Convulsiones:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="convulsiones" name="convulsiones"
              [(ngModel)]="condicionesSalud.convulsiones">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            Paludismo:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="paludismo" name="paludismo" [(ngModel)]="condicionesSalud.paludismo">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            Disminución de la audición:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="disminucion" name="disminucion" [(ngModel)]="condicionesSalud.disminucion">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            Temblores:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="temblores" name="temblores" [(ngModel)]="condicionesSalud.temblores">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            Artritis y Artrosis:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="artritis" name="artritis" [(ngModel)]="condicionesSalud.artritis">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            Sinusitis:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="sinusitis" name="sinusitis" [(ngModel)]="condicionesSalud.sinusitis">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            Dolor de cabeza frecuente:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="dolorC" name="dolorC" [(ngModel)]="condicionesSalud.dolorC">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            Enfermedad de transmición sexual:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="ets" name="ets" [(ngModel)]="condicionesSalud.ets">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            Mala dentadura:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="dentadura" name="dentadura" [(ngModel)]="condicionesSalud.dentadura">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            Asma:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="asma" name="asma" [(ngModel)]="condicionesSalud.asma">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            Tuberculosis:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="tuberculosis" name="tuberculosis"
              [(ngModel)]="condicionesSalud.tuberculosis">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            Tos durnates mas de 15 días:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="tos" name="tos" [(ngModel)]="condicionesSalud.tos">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            Alergias a medicamentos:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="alergiasMe" name="alergiasMe" [(ngModel)]="condicionesSalud.alergiasMe">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            Cáncer:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="cancer" name="cancer" [(ngModel)]="condicionesSalud.cancer">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>


          <div class="form-group col-md-2">
            Perdida de peso:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="perdidaP" name="perdidaP" [(ngModel)]="condicionesSalud.perdidaP">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            Flemas al escupir:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="flemas" name="flemas" [(ngModel)]="condicionesSalud.flemas">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>


          <div class="form-group col-md-2">
            Ulceras digestivas:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="ulceras" name="ulceras" [(ngModel)]="condicionesSalud.ulceras">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            Mala digestión:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="malaM" name="malaM" [(ngModel)]="condicionesSalud.malaM">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            Dolor en el pecho:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="dolorP" name="dolorP" [(ngModel)]="condicionesSalud.dolorP">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            Acidez:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="acidez" name="acidez" [(ngModel)]="condicionesSalud.acidez">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            Dificultad al horinar:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="dificultadH" name="dificultadH" [(ngModel)]="condicionesSalud.dificultadH">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            Presión alterial alta:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="presion" name="presion" [(ngModel)]="condicionesSalud.presion">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            Hernias:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="hernias" name="hernias" [(ngModel)]="condicionesSalud.hernias">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            Varices:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="varices" name="varices" [(ngModel)]="condicionesSalud.varices">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            Hepatitis:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="hepatitis" name="hepatitis" [(ngModel)]="condicionesSalud.hepatitis">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            Fracturas-Luxaciones:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="fracturas" name="fracturas" [(ngModel)]="condicionesSalud.fracturas">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            Sangre en orina:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="sangre" name="sangre" [(ngModel)]="condicionesSalud.sangre">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            Dolor de espalda:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="dolorEs" name="dolorEs" [(ngModel)]="condicionesSalud.dolorEs">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            Dolor en articulaciones:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="dolorA" name="dolorA" [(ngModel)]="condicionesSalud.dolorA">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            Dolor de hombro:
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" id="dolorH" name="dolorH" [(ngModel)]="condicionesSalud.dolorH">
              <option *ngFor="let record of infeccionesInfancia" [value]="record.id">{{record.label}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>

    <div class="card" style="width: 70rem; color: darkcyan">
      <div class="card-header">
        <h6>Preguntas finales</h6>
      </div>
      <div class="card-body">
        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="inputA1Trabajador">¿Tiene usted actualemnte alguna enfermedad?</label>
          </div>
          <div class="form-group col-md-3">
            <select class="form-control" id="selA1Trabajador">
              <option>No</option>
              <option>Si</option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <label for="inputA1Trabajador">Se considera usted una persona saludable</label>
          </div>
          <div class="form-group col-md-3">
            <select class="form-control" id="selA1Trabajador">
              <option>Si</option>
              <option>No</option>
            </select>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="inputA1Trabajador">Escriba los diagnosticos actuales:</label>
          </div>
          <div class="form-group col-md-9">
            <input type="text" class="form-control" name="otrasEnfermedades" placeholder="Ninguno">
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="form-group row offset-md-2 text-center center-block">
      <div class="col-md-10">
        <button type="submit" class="btn btn-info btn-lg" [disabled]="f.invalid">
          <i class="fas fa-check"></i> Crear
        </button>
      </div>
    </div>
    <br>
    <br>
  </form>
</div>